<div class="container">
<% if @topics.empty? %>
  <p>
    No topics available!
  </p>
<% else %>
  <% @topics.each do |topic| %>
    <div class="topic-row">
      <div class="topic-thumbnail">
        <a href="<%= url_for(action: :show, id: topic.id) %>">
          <img src="<%= topic.thumbnail_url %>" width="200" height="125" alt="<%= topic.name %>" />
        </a>
      </div>

      <div class="topic-index-text">
        <a href="<%= url_for(action: :show, id: topic.id) %>"><h3 class="text-primary"><%= topic.name %></h3></a>

        <p>
          <%= topic.desc.html_safe %>
        </p>

        <a href="<%= url_for(action: :show, id: topic.id) %>">
          <button type="button" class="btn btn-primary">Show Me</button></a>

        <p class="text-muted topic-index-metadata">Last Update: <%= topic.updated_at.strftime("%Y-%m-%d") %>
          -
          <a href="<%= url_for(action: :show, id: topic.id, anchor: "disqus_thread") %>" data-disqus-identifier="<%= disqus_url_for_topic_id(topic.id) %>">Comments</a>
        </p>
      </div>
      <hr/>
    </div>
    <div class="clearfix"></div>
  <% end %>


<% end %>
</div>
<script id="dsq-count-scr" src="https://computermadscience.disqus.com/count.js" async></script>
