<%= javascript_pack_tag 'steps' %>

<div class="clearfix"></div>
<div class="container">
  <div class="steps-title-row">
      <div class="topic-thumbnail-header">
        <img src="<%= @topic.bigthumb_url %>" width="400" height="250" alt="<%= @topic.name %>" />
      </div>

      <h1 class="text-primary"><%= @topic.name %></h1>

      <p><%= @topic.desc.html_safe %></p>
  </div>
  <div class="clearfix"></div>

  <div class="topic-email-reminder-box" data-topic-id="<%= @topic.id %>">
      <% if current_user %>
        <%= link_to("Email Reminders", "/profile") %> for this topic:
        <%= email_reminder_button_group(selected: @ut ? @ut.subscription : "none") %>
        <div class="subscription-error"></div>
      <% else %>
        (Log in to track progress or opt into emailed reminders.)
      <% end %>
  </div>

  <% steps = @topic.steps %>
  <% if steps.empty? %>
    <p>No steps! Something is wrong with this topic!</p>
  <% else %>
    <% steps.each do |step|
        doneness = 0
        if current_user
            user_step_item = @step_item_by_id[step.id]
            doneness = user_step_item.doneness if user_step_item
        end
        %>
        <div class="step-row" data-server-value="<%= doneness %>" id="<%= step.id %>">
            <h3><%= step.name %></h3>

            <%= render "step", step: step %>

            <% if current_user %>
                <div class="done-button-group">
                    <div class="select-error-box error"></div>
                    <button data-step-id="<%= step.id %>" class="mark-doneness-button btn btn-success" <%= doneness != 0 ? 'disabled' : '' %> data-set-value="2" >OK, Done!</button>
                    <button data-step-id="<%= step.id %>" class="mark-doneness-button btn btn-warning" <%= doneness != 0 ? 'disabled' : '' %> data-set-value="1" >Skip&hellip;</button>
                    <button data-step-id="<%= step.id %>" class="mark-doneness-button btn btn-danger" <%= doneness == 0 ? 'disabled' : '' %> data-set-value="0" >Wait, Not Done!</button>
                </div>
            <% else %>
                <div class="done-button-group">
                    <label for="<%= step.id %>-done-select">Done?</label> (<%= link_to("Log in", new_user_session_path) %> to track progress)
                </div>
            <% end %>
        </div>
    <% end %>
    <% if @topic.data["related"] && !@topic.data["related"].empty? %>
    <div class="topic-recommendations-row">
        <p>
            Looking for similar topics?
        </p>

        <% @topic.data["related"].each do |rel_topic_id|
            rel_topic = Topic.find(rel_topic_id)
            %>
            <div class="recommended-topic">
                <a href="/topics/show?id=<%= rel_topic_id %>">
                    <img class="topic-mini-thumbnail" src="<%= rel_topic.thumbnail_url %>" width="100" height="62" />
                    <%= rel_topic.name %>
                </a>
            </div>
        <% end %>
    </div>
    <% end %>
  <% end %>
</div>
