<%= javascript_pack_tag 'steps' %>

<div class="container">
  <h1><%= @topic.name %></h1>

  <% steps = @topic.get_steps %>
  <% if steps.empty? %>
    <p>No steps! Something is wrong with this topic!</p>
  <% else %>
    <% steps.each do |step|
        if current_user
            user_step_item = UserStepItem.where(user_id: current_user.id, step_id: step.id).first
        end
        doneness = user_step_item ? user_step_item.doneness : 0
        %>
        <div class="step-row" data-server-value="<%= doneness %>">
            <h3><%= step.name %></h3>

            <p>
                <a href="<%= step.url %>" target="_blank">🔗 External link 🔗</a>
            </p>

            <% if current_user %>
                <div class="done-select-group">
                    <div class="select-error-box error" id="select-error-box-<%= step.id %>"></div>
                    <label for="<%= step.id %>-done-select">Done?</label>
                    <%= select_tag("#{step.id}-done-select", options_for_select(UserStepItem.done_selector, doneness), class: "done-select", data: { step_id: step.id }) %>
                </div>
            <% else %>
                <div class="done-select-group">
                    <label for="<%= step.id %>-done-select">Done?</label> (Log in to track progress)
                </div>
            <% end %>
        </div>
    <% end %>

  <% end %>
</div>
