<div class="container">

<h1>Admin Dashboard</h1>

<p>Current user count: <%= @user_count %> <%= link_to("(Drill Down)", action: :users) %></p>

<p>Subscriptions: <%= @num_subscriptions %> <%= link_to("(Drill Down)", action: :subs) %></p>

<p>Completed Steps: <%= @completed_steps %></p>

<p>Skipped Steps: <%= @skipped_steps %></p>

<p>Last email went out: <%= @last_email == nil ? "Never" : time_ago_in_words(@last_email) %></p>

<h2>Events</h2>

<table class="table">
    <thead>
        <th>Time</th>
        <th>Type</th>
        <th>User Email</th>
        <th>Data</th>
    </thead>
    <tbody>
        <% @events.each do |e| %>
            <tr>
                <td><%= time_ago_in_words(e.created_at) %> ago / <%= e.created_at %></td>
                <td><%= e.type ? e.type : "NULL" %></td>
                <td><%= e.user.email ? e.user.email : "NULL" %></td>
                <td><%= e.data %></td>
            </tr>
        <% end %>
    </tbody>
</table>


</div>
