<div class="container">

<h1>Admin Dashboard</h1>

<p>Current user count: <%= @user_count %> <%= link_to("(Drill Down)", action: :users) %></p>

<p>Subscriptions: <%= @num_subscriptions %></p>

<p>Completed Steps: <%= @completed_steps %></p>

<p>Skipped Steps: <%= @skipped_steps %></p>

<p>Last email went out: <%= @last_email == nil ? "Never" : time_ago_in_words(@last_email) %></p>

</div>
