<!DOCTYPE html>
<html>
  <head>
    <title>RubyMadScience</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="float:right; font-size: 80%;">
      <% if current_user %>
        Logged in as <%= current_user.email %>
      <% else %>
        <a href="<%= new_user_session_path() %>">log in</a><br/>
        <a href="<%= new_user_registration_path() %>">sign up</a>
      <% end %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
