<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Ruby Mad Science: a Coding Education Site">
    <meta name="author" content="Noah Gibbs">

    <!-- TODO: <link rel="icon" type="image/x-icon" href="/img/favicon.ico" /> -->

    <title>RubyMadScience: A Little Mad to Learn Coding</title>

    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" /> <!-- TODO: remove this since we're not using it - also needs to be out of scripts.js -->
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />

    <!-- Moved up top for TurboLinks reasons and to ensure it's loaded -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Future: Google Analytics? -->

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="page-top">
    <%= render "shared/navbar" %>

    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
            </div>
        </div>
    </header>

    <%= render "shared/login" %>
    <p class="rails-notice"><%= notice %></p>
    <p class="rails-alert"><%= alert %></p>

    <%= yield %>

    <!-- Footer-->
    <hr/>
    <footer class="bg-light py-5">
        <div class="container"><div class="small text-center text-muted">Copyright © 2020 - Noah Gibbs
        <br/> Based on the <a href="https://startbootstrap.com/themes/creative/" target="_blank">Creative</a> theme from <a href="https://startbootstrap.com/" target="_blank">Start Bootstrap</a></div></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
    <script id="dsq-count-scr" src="//rubymadscience.disqus.com/count.js" async></script>
  </body>
</html>
